<!--header"-->
[[template "header" .]]
<!--header"-->


<main class="main-content mt-1 border-radius-lg" id="main">

    <!--navar"-->
    [[template "top_navar" .]]
    <!--navar"-->

    <script src="/public/js/utils/xlsx.js"></script>
    <script type="text/javascript">
        window.addEventListener("load", function () {
            $("#endDate").val(getDate(0, 0));
            $("#startDate").val(getDate(0, 1));
            getList(1);
        });

        function getList(pageNo) {
            let pageSize = 20;

            let sendData = {
                pageNo: pageNo,
                pageSize: pageSize,
                endDate: $("#endDate").val().replaceAll('-', ''),
                startDate: $("#startDate").val().replaceAll('-', ''),
                searchText: document.getElementById("searchText").value,
                select: getSelectedValue("sel")
            };
           // console.log(sendData)
            FunLoadingBarStart()

            var opts = {method: 'POST', body: JSON.stringify(sendData), headers: {"Content-Type": "application/json"}};
            fetch('/api/payment/GetPaidIngList', opts).then(function (response) {
                return response.json();
            }).then(function (res) {
               // console.log(res)
                let html = "";

                if (res.resultCode == '00') {

                    if (res.resultList.length > 0) {
                        res.resultList.forEach(function (v) {

                            html += '<tr>';
                            html += '     <td class="align-middle text-center">';
                            if (v.status_nm == '성공') {

                            } else if (v.status_nm == '요청') {

                            } else {
                                html += ' <input type="checkbox" class="chkbox_group" name="chkbox" value="' + v.restPaymentId + '">';
                            }
                            html += '     </td>';
                            html += '     <td class="align-middle text-left">';
                            html += '	        <span class="text-secondary text-xs ">' + v.restNm + '</span>';
                            html += '     </td>';
                            html += '     <td class="align-middle text-center">';
                            html += '	        <span class="text-secondary text-xs font-weight-bold">' + v.busId + '</span>';
                            html += '     </td>';
                            html += '     <td class="align-middle text-center">';
                            html += '	        <span class="text-secondary text-xs ">' + v.paymentDt + '</span>';
                            html += '     </td>';
                            html += '     <td class="align-middle text-center" style="background-color:#d9d9d9;color:#0d0626;">';
                            if (v.status_nm == '성공') {
                                html += '   <span class="text-secondary text-xs font-weight-bold">' + v.settlmntDt + '</span>'
                            } else if (v.status_nm == '요청') {
                                html += '   <span class="text-secondary text-xs font-weight-bold">' + v.settlmntDt + '</span>'
                            } else {

                                html += '   <a href="" style="text-decoration: underline;"><span class="text-secondary text-xs font-weight-bold">' + v.settlmntDt + '</span></a>';
                            }
                            html += '     </td>';
                            html += '     <td class="align-middle text-right">';
                            html += '	        <span class="text-secondary text-xs font-weight-bold">' + Format_comma2(v.paymentAmt) + ' 원</span>';
                            html += '     </td>';
                            html += '     <td class="align-middle text-right" style="background-color:#d9d9d9;color:#0d0626;">';
                            html += '	        <span class="text-secondary text-xs font-weight-bold">' + Format_comma2(v.restPaymentAmt) + ' 원</span>';
                            html += '     </td>';
                            html += '     <td class="align-middle text-center">';
                            html += '	        <span class="text-secondary text-xs font-weight-bold">' + v.sendDate + '</span>';
                            html += '     </td>';
                            html += '     <td class="align-middle text-center" style="background-color:rgba(95,147,175,0.64);color:#0d0626;">';
                            html += '	        <span class="text-secondary text-xs font-weight-bold">' + v.status_nm + '</span>';
                            html += '     </td>';
                            html += '     <td class="align-middle text-left" style="background-color:rgba(95,147,175,0.64);color:#0d0626;">';
                            html += '	        <span class="text-secondary text-xs font-weight-bold">' + v.err_msg + '</span>';
                            html += '     </td>';
                            html += '</tr>';

                        });
                    }
                    document.getElementById("resultList").innerHTML = html;
                    getPagination(res.resultCnt, pageNo, pageSize, "getList");
                    document.getElementById("totalCnt").innerText = res.resultCnt;

                } else if (res.resultCode == '01') {
                    html = "<tr align='center'><td colspan='8'>데이터가 없습니다.</td></tr>"
                    document.getElementById("resultList").innerHTML = html;
                    document.getElementById("totalCnt").innerText = 0;

                }


            });
            FunLoadingBarFinish();
        };


        function sendPayOk() {

            if (sessionStorage.getItem('loginId') == null) {
                return;
            }

            FunLoadingBarStart()

            let sendData = {
                endDate: $("#endDate").val().replaceAll('-', ''),
                startDate: $("#startDate").val().replaceAll('-', ''),
            };
            var opts = {method: 'POST', body: JSON.stringify(sendData), headers: {"Content-Type": "application/json"}};
            fetch('/api/payment/PaidOk', opts).then(function (response) {
                return response.json();
            }).then(function (res) {
                // console.log(res)
                if (res.resultCode == "00") {
                    location.reload();
                } else if (res.resultCode == "99") {
                    FunLoadingBarFinish();
                    alert(res.resultMsg);
                    return;
                } else {
                    FunLoadingBarFinish();
                    alert("통신 오류");
                    return;
                }
            });
        };


        function getExcelList() {
            let sendData = {
                endDate: $("#endDate").val().replaceAll('-', ''),
                startDate: $("#startDate").val().replaceAll('-', ''),
                // restNm:document.getElementById("searchText").value,
            };
            FunLoadingBarStart()

            var opts = {method: 'POST', body: JSON.stringify(sendData), headers: {"Content-Type": "application/json"}};
            fetch('/api/payment/GetPaidIngExcel', opts).then(function (response) {
                return response.json();
            }).then(function (res) {
                //console.log(res)

                if (res.resultList != null) {
                    itemsExcelList = res.resultList;
                    excelDown2();
                } else {
                    alert('데이터가 없습니다.')
                }
            });
            FunLoadingBarFinish();
        };


        function excelDown2() {
            // 컬럼 이름
            const excelHeader = ["전자 계산서 종류", "작성일자", "공급자 등록번호", "공급자 종사업장번호", "공급자상호", "공급자 성명"
                , "공급자 사업장 주소", "공급자업태", "공급자종목", "공급자 이메일", "공급받는자 등록번호", "공급받는자종사업장번호"
                , "공급받는자 상호", "공급받는자 성명", "공급받는자 사업장주소", "공급받는자 업테", "공급받는자 종목"
                , "공급받는자 이메일1", "공급받는자 이메일2" ,"공급가액","세액","비고"
                ,"일자1","품목1","규격1","수량1","단가1","공급가액1","세액1","품목비고1"
                ,"일자2","품목2","규격2","수량2","단가2","공급가액2","세액2","품목비고2"
                ,"일자3","품목3","규격3","수량3","단가3","공급가액3","세액3","품목비고3"
                ,"일자4","품목4","규격4","수량4","단가4","공급가액4","세액4","품목비고4"
                ,"현금","수표","어음","외상미수금","영수,청구"];
            let dataWS = XLSX.utils.json_to_sheet(itemsExcelList, {origin :"A6"});

            const range = XLSX.utils.decode_range(dataWS['!ref']);

            for (let c = range.s.c; c <= range.e.c; c++) {
                const header = XLSX.utils.encode_col(c) + '6'
                dataWS[header].v = excelHeader[c];
            }

            var wb = XLSX.utils.book_new();


            XLSX.utils.book_append_sheet(wb, dataWS, '결제내역');



            XLSX.writeFile(wb, '지급요청내역.xlsx');
        }

        function change(){
             CssChange(".subVisible","visibility",(getSelectedValue("sel") !== "SETTLMNT_DT")?"hidden":"visible")
             getList(1)
        }

        function inputKeywordEnter(){
            if(event.keyCode == 13){
                getList(1)
                return;
            }

        }


    </script>

    <!-- 경로 네비 commons.js-->
    <nav aria-label="route" id="RouteNav">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Admin</li>
            <li class="breadcrumb-item text-sm font-weight-bolder"><a class="opacity-5 text-dark" href="javascript:;">지급요청처리중</a>
            </li>
        </ol>
    </nav>

    <!--컨테이너-->
    <div class="container-fluid py-4">
        <div class="row card" id="searchBar">
            <div class="row ms-3 mt-3">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-4">
                            <select class="form-control" id="bookGrpId">
                                <option value="restNm">가맹점</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-4">
                            <input class="form-control" placeholder="검색" type="text" id="searchText"  onkeydown="inputKeywordEnter(); return;">
                            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2 ">
                    <select class="form-control" id="sel" onchange="change()">
                        <option value="SETTLMNT_DT">지급 요청일</option>
                        <option value="PAYMENT_DT">결제일자</option>
                        <option value="SEND_DATE">전송일자</option>
                    </select>

                </div>
                <div class="form-group col-md-2">
                    <input class="form-control" type="date" value="" id="startDate" onchange="getList(1)">
                </div>
                <div class="form-group col-md-2">
                    <input class="form-control" type="date" value="" id="endDate" onchange="getList(1)">
                </div>
                <div class="col">
                    <div class="input-group input-group-alternative">
                        <button type="button" class="btn bg-gradient-primary" id="searchButton" onclick="getList(1)">
                            조회
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="row card mb-4 mt-4">

            <div class="card-header pb-0" id="allCount">
                <div class="row ms-3 mt-3">
                    <div class="col-md-1 me-3 mt-2">
                        <p>전체 건수 : </p>
                    </div>
                    <div class="col-md-1 me-3 mt-2">
                        <p class="text-bold"><span id="totalCnt">0</span> 건</p>
                    </div>
                    <div class="col-md-2 me-3 mt-2">
                        <button type="button" class="btn bg-gradient-primary" onclick="sendPayOk()">지급완료</button>
                    </div>
                    <div class="col-md-2 me-3 mt-2">
                        <button type="button" class="btn bg-gradient-primary subVisible" onclick="getExcelList()">Excel</button>
                    </div>
                </div>

                <!--본문-->
                <div class="card-body px-0 pt-0 pb-2">
                    <br>
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    가맹점
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    사업자번호
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    결제일
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    style="background-color:#d9d9d9;color:#0d0626;">지급요청일
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    결제금액
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    style="background-color:#d9d9d9;color:#0d0626;">지급금액
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    전송시간
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    style="background-color:rgba(95,147,175,0.64);color:#0d0626;">상태
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    style="background-color:rgba(95,147,175,0.64);color:#0d0626;">에러메세지
                                </th>
                            </tr>
                            </thead>
                            <tbody id="resultList">

                            </tbody>
                        </table>
                        <p class="text-center text-s font-weight-bold mb-3 mt-2" id="listBlink"></p>
                    </div>
                    <!--페이징-->
                    <nav id="pageNav"></nav>
                </div>
            </div>


        </div>

</main>


<!--footer"-->
[[template "footer" .]]
<!--footer"-->

