<!--header"-->
[[template "header" .]]
<!--header"-->

<main class="main-content mt-1 border-radius-lg">

    <!--navar"-->
    [[template "top_navar" .]]
    <!--navar"-->

    <script type="text/javascript">

        window.addEventListener("load", function() {
            if (sessionStorage.getItem("companyId") === "") {
                document.getElementById("alertModalBtn").click()
            }
            getParamsData(location.href)
            getGrpIdSelectList()
        });

        function getList(pageNo) {
            FunLoadingBarStart()
            const contentNum = document.getElementById("contentNum").value
            const obj = "/api/PaymentHistoryLookUp?companyId=" + sessionStorage.getItem("companyId")
                + "&searchGrpId=" + document.getElementById("searchGrpIdSelect").value
                + "&searchRestNm=" + searchText.value
                + "&searchStartDt=" + startDate.value
                + "&searchEndDt=" + endDate.value
                + "&pageSize=" + contentNum
                + "&pageNo=" + pageNo;

            fetch(obj).then(function (response) {
                return response.json();
            }).then(function (res) {
                const data = (res.resultCode === "00") ? res.resultData : null
                if (!!data) {
                    let html = ""
                    let blink = ""
                    document.getElementById('totalCount').innerText = data.totalCount + " 건"
                    document.getElementById("totalAmt").textContent = numberWithCommas(data.totalAmt) + " 원"
                    if (data.paymentList.length > 0) {
                        let number = 1 + getContentNumber(pageNo, contentNum)
                        const getPaymentTy = {
                            0: "선불결제",
                            1: "선불취소",
                            2: "사용안함",
                            3: "후불결제",
                            4: "후불취소"
                        }

                        data.paymentList.forEach(function (data) {
                            html += "<tr>"
                            html += "   <td class=\"align-middle text-center text-sm\">" + number + "</td>"
                            html += "   <td>"
                            html += "       <h6 class=\"mb-0 text-center text-sm\">" + data.grpNm + "</h6>"
                            html += "   </td>"
                            html += "   <td>"
                            html += "       <p class=\"text-xs text-center font-weight-bold mb-0\">" + data.restNm + "</p>"
                            html += "   </td>"
                            html += "   <td class=\"align-middle text-center\">"
                            html += "       <h6 class=\"mb-0 text-sm\">" + data.regDate + "</h6>"
                            html += "   </td>"
                            html += "   <td class=\"align-middle text-center\">"
                            html += "       <h6 class=\"mb-0 text-sm\">" + data.regTime + "</h6>"
                            html += "   </td>"
                            html += "   <td class=\"align-middle text-right\">"
                            html += "       <h6 class=\"mb-0 text-sm\">" + numberWithCommas(data.creditAmt) + " 원</h6>"
                            html += "   </td>"
                            html += "   <td class=\"align-middle text-right\">"
                            html += "       <h6 class=\"mb-0 text-sm\">" + numberWithCommas(data.pAmt) + " 원</h6>"
                            html += "   </td>"
                            html += "   <td class=\"align-middle text-center\">"
                            html += "       <h6 class=\"mb-0 text-sm\">" + getPaymentTy[data.paymentTy] + "</h6>"
                            html += "   </td>"
                            html += "   <td class=\"align-middle text-center\">"
                            html += "       <h6 class=\"mb-0 text-sm\">" + data.cancelDate + "</h6>"
                            html += "   </td>"
                            html += "</tr>"
                            number++;
                        })
                        getPagination(data.totalCount, pageNo, contentNum, "getList");
                    } else {
                        blink = "데이터 없음"
                    }
                    document.getElementById("paymentList").innerHTML = html
                    document.getElementById("listBlink").innerText = blink
                }
            })
            FunLoadingBarFinish()
        }

        function getGrpIdSelectList() {
            let companyId = sessionStorage.getItem("companyId")

            fetch('/api/GetCompanyBookList?companyId=' + companyId + "&userId=" + ((sessionStorage.getItem("authorCd") === "BM") ? sessionStorage.getItem("userId") : "")).then(function (response) {
                return response.json();
            }).then(function (res) {
                const select = window.document.getElementById('searchGrpIdSelect')
                const data = res.resultData.bookList;

                document.getElementById("startDate").value = getDate(0, 1)
                document.getElementById("endDate").value = getDate(0, 0)
                document.getElementById("searchText").value = ""

                if (data.length === 0) {
                    const option = document.createElement('option')
                    option.textContent = "장부없음"
                    option.selected = true
                    select.append(option)
                } else {
                    setParams('searchGrpId', data[0].value)
                    data.forEach(function (element) {
                        const option = document.createElement('option')
                        option.value = element.value
                        option.textContent = element.label
                        select.append(option)
                    })
                    getList(1)
                }
            })
        }

    </script>

    <button id="alertModalBtn" data-bs-toggle="modal" data-bs-target="#AlertModals" style="display: none"></button>

    <!-- 경로 네비 commons.js-->
    <nav aria-label="breadcrumb" id="RouteNav">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">주문관리</li>
            <li class="breadcrumb-item text-sm font-weight-bolder">
                <a class="opacity-5 text-dark" href="javascript:location.reload()">결제내역 조회</a>
            </li>
        </ol>
    </nav>

    <!--컨테이너-->
    <div class="container-fluid py-4">
        <div class="row mt-2 mb-2">
            <h5>결제내역 조회</h5>
        </div>

        <!--헤더 카드-->
        <div class="row card">

            <div class="row ms-3 mt-3">
                <h6>검색</h6>


                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-4">
                            <select class="form-control" id="searchGrpIdSelect" onchange='getList(1)'>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-2"><input type="Date" class="form-control" id="startDate"></div>
                <div class="col-md-2"><input type="Date" class="form-control" id="endDate"></div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-4">
                            <input class="form-control" placeholder="가맹점명 검색" type="text" id="searchText"
                                   onkeyup='searchEnterKey(getList)'>
                            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group input-group-alternative mb-3">
                        <button type="button" class="btn bg-gradient-primary" id="btn_search"
                                onclick="getList(1)">조회
                        </button>
                        <button type="button" class="btn bg-gradient-secondary" id="btn_reset"
                                onclick="getGrpIdSelectList()">초기화
                        </button>
                    </div>
                </div>
            </div>

        </div>


        <div class="row mt-4">
            <div class="card p-3">
                <div class="card-header pb-0">
                    <div class="row ms-3 mt-3">
                        <div class="col-md-1 mt-2"><p class="text-bold text-dark">전체 건수 : </p></div>
                        <div class="col-md-1 mt-2"><p class="text-bold" id="totalCount"></p></div>
                        <div class="col-md-1 mt-2"><p class="text-bold text-dark">합계 금액 : </p></div>
                        <div class="col-md-2 mt-2"><p class="text-bold" id="totalAmt"></p></div>
                    </div>
                </div>

                <div class="card-body ">
                    <div class="row">
                        <div class="col-1 ms-4">
                            <label class="mb-0 text-sm mt-1 text-right" for="contentNum">검색 개수</label>
                        </div>

                        <div class="col-2">
                            <select class="form-control customBorder p-0 ps-2 mb-2" id="contentNum"
                                    onchange="getList(1)">
                                <option value='10' selected>10 개</option>
                                <option value='20'>20 개</option>
                                <option value='30'>30 개</option>
                            </select>
                        </div>
                    </div>

                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-center text-xs font-weight-bolder opacity-7 text-secondary">No.</th>
                                <th class="text-center text-xs font-weight-bolder opacity-7">장부이름</th>
                                <th class="text-center text-xs font-weight-bolder opacity-7">가맹점이름</th>
                                <th class="text-center text-xs font-weight-bolder opacity-7">일자</th>
                                <th class="text-center text-xs font-weight-bolder opacity-7">시간</th>
                                <th class="text-right text-xs font-weight-bolder opacity-7">정산금액</th>
                                <th class="text-right text-xs font-weight-bolder opacity-7">결제금액</th>
                                <th class="text-center text-xs font-weight-bolder opacity-7">결제유형</th>
                                <th class="text-center text-xs font-weight-bolder opacity-7">취소일</th>
                            </tr>
                            </thead>
                            <tbody id="paymentList"></tbody>
                        </table>
                        <p class="text-center text-s font-weight-bold mb-3 mt-2" id="listBlink"></p>
                    </div>
                </div>
                <nav id="pageNav"></nav>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="modal fade" id="AlertModals" tabindex="-2" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" id='modalHead'><div class="modal-title h5" id='headText'>알림</div></div>
                    <div class="modal-body" id='modalBody'><p class="mb-0">회사를 선택해주세요</p></div>
                    <div class="modal-footer" id='modalFoot'>
                        <button type="button" class="btn bg-gradient-primary" data-bs-dismiss="modal"
                                id="AlertModalCommit">확인
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<!--footer"-->
[[template "footer" .]]
<!--footer"-->